.container {
    margin: 0 auto;
    height: 60%;
}

.tabs {
    display: flex;
    justify-content: space-between;
}

.tabsButton {
    background-color: rgba(0, 0, 0, .1215686275);
    border: none;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    font-size: 16px;
    font-family: cursive;
}

.active {
    border: 4px solid #2ac41f94;
}